body{
	background:#f2f2f2;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.logo-box {
    background: #f15b4e;
    text-align: center;
    padding: 50px 0 100px;
}
.login-box {
    width: 400px;
    border: 1px solid #ccc;
	padding:10px;
    margin: -50px auto;
    background: #fff;
    border-radius: 8px;
}

.forgot-pass {
    text-align: center;
    font-size: 16px;
	padding:10px 0;
}
.form-submit .btn{
	width:100%;
	background:#f15b4e;
}


/* -------------------
Form item /
--------------------- */


.form-horizontal {
	background: #fff;
	padding: 20px;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea {
display: block;
padding: 6px 12px;
box-sizing: border-box;
height: 39px;
color: #555555;
background-color: #ffffff;
border: 1px solid #cccccc;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
-webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
-moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
-o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea:focus:not([readonly]) {
border: 1px solid #29b6f6;
box-shadow: none;
}
textarea {
	height:auto;
	max-width: 100%;
}
.controls {
	position: relative;
}
.controls[class*="fa-"] input, .controls[class*="fa-"] textarea {
padding-left: 54px;
}
.controls:before {
	display: block;
	position: absolute;
	width: 45px;
	height: 39px;
	border-right: 1px solid #ccc;
	top: 0px;
	left: 0;
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #9e9e9e;
	font-size: 17px;
	text-align: center;
	padding-top: 8px;
}
.control-group label {
	color: #9e9e9e;
	font-size: 13px;
	display: inline-block;
	margin-bottom:2px;
}
.control-group {
	margin-bottom: 10px;
	min-height: 40px;
}
