<!DOCTYPE html>
<html lang="en" ng-app="mobileApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="author" content="Saranya" />
<title>Responsive website using AngularJS</title>
<meta name="description" content="Responsive website using AngularJS - Admin Theme">
<link rel="icon" href="favicon.ico" sizes="16x16">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<!-- add styles -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../css/materialize.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="css/login.css" rel="stylesheet" type="text/css" />
<style>
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("css/font-awesome.min.css");

</style>
<!-- add javascripts -->
<script src="js/jquery-2.0.3.min.js"></script>
<script src="../public/lib/js/materialize.min.js"></script>
</head>
<body>

<div class="logo-box">
<img src="logo.png" class="logo" alt="sixsag">
</div>


<div class="login-box">
<form class="form-horizontal" >
  
  <!-- Text input-->
  <div class="control-group">
    <!-- <label class="control-label" for="textinput-0">User name</label> -->
    <div class="controls fa-user">
      <input id="textinput-0" name="textinput-0" type="text" placeholder="Username / Email" class="input-xlarge">
    </div>
  </div>
  
  <!-- Password input-->
  <div class="control-group">
    <!-- <label class="control-label" for="passwordinput-0">Password</label> -->
    <div class="controls">
      <input id="passwordinput-0" name="passwordinput-0" type="password" placeholder="password" class="input-xlarge">
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-submit"><i class="btn waves-effect">
    <input class="submit-btn" type="submit" value="Login">
    </i></div>
</form>

<div class="forgot-pass"><a href="#">Forgot Password?</a></div>

</div>
</body>
</html>